.fof-page {
    background-color: #f9f9f9;
    padding: 0;
    user-select: none;
    &__wrapp {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 80vh;
    }
    &__subtitle {
        max-width: 520px;
        margin: 0 auto;
        margin-top: 10px;
        @media screen and (max-width: $beforeTableWidth) {
            max-width: 300px;
        }
        & p {
            font-family: $SFR;
            font-size: 16px;
            line-height: 23px;
            color: #676666;
            letter-spacing: .66px;
            
        }
    }
    &__pic {
        img {
            width: 160px;
            @media screen and (max-width: $desktopWidth) {
                height: 171px;
            }
            @media screen and (max-width: $beforeSmDesktopWidth) {
                height: 128px;
            }
            @media screen and (max-width: $beforeTableWidth) {
                width: auto;
            }
        }
    }
    &__title {
        text-align: center;
        & span {
            font-family: $SFM;
            font-size: 40px;
            color: #808080;
            @media screen and (max-width: $desktopWidth) {
                font-size: 22px;
            }
            @media screen and (max-width: $beforeSmDesktopWidth) {
                font-size: 20px;
            }
            @media screen and (max-width: $beforeTableWidth) {
                font-size: 18px;
            }
        }
        
    }
    &__button {
        margin-top: 30px;
        & .rectangle-btn-border {
            @media screen and (max-width: $desktopWidth) {
                padding: 19px 59px;
            }
            @media screen and (max-width: $beforeSmDesktopWidth) {
                padding: 17px 50px;
            }
            @media screen and (max-width: $beforeTableWidth) {
                padding: 17px 44px;
            }   
            & span {
                font-size: 16px;
                @media screen and (max-width: $desktopWidth) {
                    font-size: 16px;
                }
                @media screen and (max-width: $beforeSmDesktopWidth) {
                    font-size: 16px;
                }
                @media screen and (max-width: $beforeTableWidth) {
                    font-size: 16px;
                }   
            }
        }
    }
}