// Nav style
.navbar-general__profile-body.show > .navbar-general__profile-preview > span {
	@media screen and (min-width: $smDesktopWidth) {
		transform: translateX(-23px);		    
	}
}

.navbar-general__profile-body.show > .navbar-general__profile-preview > .arrow-svg {
	@media screen and (min-width: $phoneWidth) {
		transform: rotate(0deg);
	}
}
.navbar-general__profile-body.show > .navbar-general__profile-menu {
	@media screen and (min-width: $phoneWidth) {
		transform: scaleY(1);
	}
}
.navbar-general.show .navbar-general__row .navbar-burger {
	& span:nth-child(1){
	    transform: translateY(6.5px) rotate(45deg);
	}
    & span:nth-child(2){
	    opacity: 0;
	    width: 0px;
	}
	& span:nth-child(3){
	    transform: translateY(-7.5px) rotate(-45deg);
	}
}
.navbar-general.show .navbar-general__row .eventoutlet {
	opacity: 1;
    visibility: visible;
	transform: translateX(0%);
}
.navbar-general {
	padding: 18px 0;
	transition:.4s;
	&.show {
		@media screen and (max-width: $beforeTableWidth) {
			height: 100vh;
		}
	}
  	@media screen and (max-width: $beforeTableWidth) {
  		height: 79px;
  		background: #fff;
  		overflow: hidden;
  	}
	&__row {
		display: flex;
		align-items:center;
		@media screen and (max-width: $beforeTableWidth) {
			flex-direction:column;
			align-items: start;
			height: 85vh;
		}
		& img {
			height: 46px;
			@media screen and (max-width: $beforeSmDesktopWidth) {
  				height: 33px;
  			}
		}
		& span.eventoutlet {
			font-family: $BEB;
			font-size: 25px;
			color: #0e0e0e;
			line-height: 38px;
		    margin-left: 15px;
			letter-spacing: 1.1px;
			user-select:none;
			@media screen and (max-width: $beforeSmDesktopWidth) {
				font-size: 17px;
				margin-left: 10px;
  			}
			@media screen and (max-width: $beforeTableWidth) {
				margin-left: 6px;
		        opacity: 0;
			    visibility: hidden;
	    		transform: translateX(-80%);
	    		transition:.4s;
			}
			
		}
		& .oval-btn {
			@media screen and (min-width: $tableWidth) {
  				margin-left: auto;
  			}
		}
	}
	&__profile {
		display: flex;
		position: relative;
		@media screen and (min-width: $beforeTableWidth) {
			margin-left: auto;
		}
		@media screen and (max-width: $beforeTableWidth) {
			height: 100%;
    		width: 100%;
		}
	}
	&__profile-photo {
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		height: 45px;
		width: 45px;
	}
	&__profile-preview {
		display: flex;
		flex-direction:row;
		align-items: center;
		cursor: pointer;
		@media screen and (max-width: $beforeTableWidth) {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}
	}
	&__profile-body {
		display: flex;
		z-index: 2;
		@media screen and (min-width: $smDesktopWidth) {
			padding: 12px 27px 7px 50px;
		}
		@media screen and (min-width: $tableWidth) {
			align-items:center;
			padding: 12px 13px 7px 17px;
			margin-top: -8px;
			transition:.4s;
			position: relative;
		}
		@media screen and (max-width: $beforeTableWidth) {
			flex-direction: column-reverse;
		}
		&.show {
			@media screen and (min-width: $tableWidth) { 
	    		box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.04);
	    		background-color: #fff;
	    		border-top-left-radius: 8px;
	    		border-top-right-radius: 8px;
			}
		}
		& img {
			height: 46px;
		}
		& span {
			font-family: $SFM;
			font-size: 15px;
			color: #202020;
		    margin-right: 17px;
		    letter-spacing: 0.5px;
		    transition:.4s;
		    @media screen and (max-width: $beforeTableWidth) {
				font-size: 16px;
				margin-left: 15px;
			}
		    
		}
		& .arrow-svg {
			transform:rotate(180deg);
			margin-left: 11px;
			cursor: pointer;
			@media screen and (max-width: $beforeTableWidth) {
				display: none;
			}
		}
	}
	&__profile-menu {
		
		display: flex;
	    flex-direction: column;
	    @media screen and (min-width: $tableWidth) {
		    position: absolute;
		    top: 100%;
		    left: 0;
		    box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.04);
		    width: 100%;
		    border-bottom-left-radius: 8px;
	    	border-bottom-right-radius: 8px;
		
		    transform: scaleY(0);
	    	transform-origin: top;
	    	transition: transform 0.26s ease;
	    	overflow: hidden;

	    }
	    @media screen and (max-width: $beforeTableWidth) {
			margin-bottom: auto;
			margin-top: 30px;
		}
	    & li {
	    	@media screen and (min-width: $tableWidth) {
	    	    
	    	    background-color: #fff;
	    	    transition:.3s;
	    	}
	    	
    	    &:hover {
    	    	@media screen and (min-width: $tableWidth) { 
    	    		background-color: #f8f8f8;
    	    	}
    	    }
	    	& a {
	    		font-family: $SFR;
	    		@media screen and (min-width: $tableWidth) { 
			    	padding: 16px 18px;
			    	font-size: 15px;
			    	color: #202020;
			    	display: block;
			    	height: 100%;
	    		}
	    		@media screen and (max-width: $beforeTableWidth) {
					font-size: 16px;
					color: #888888;
					line-height: 46px;
				}
	    	}
	    }
	}
	&__collapse {
		display: flex;
		flex-direction: row;
		flex: 1;
		@media screen and (max-width: $beforeTableWidth) {
			flex-direction: column;
		    background: #fff;
		    overflow: hidden;
		    height: 0vh;
		    transition: .4s;
		    height: 100%;
		    padding: 20px 0; 
		    overflow-y:auto; 
		}
		@media screen and (min-width: $tableWidth) {
			align-items:center;
		}
	}

	&__main {
		
		@media screen and (max-width: $beforeTableWidth) {
			line-height: 46px;
			display:flex;
			flex-direction: column;
		}
		& li {
			display: inline-block;
			& a {
				font-family: $SFR;
				font-size: 16px;
				color: #888888;
				letter-spacing: 0.6px;
				margin-right: 25px;
				white-space: nowrap;
				@media screen and (max-width: $beforeSmDesktopWidth) {
					font-size: 15px;
					margin-right: 0;
				}
				@media screen and (max-width: $beforeSmDesktopWidth) {
					font-size: 15px;
				}
			}
			&:nth-child(2){
				& a {
					color: #6a991d;
					font-family: $SFS;
				}
			}
		}
		@media screen and (min-width: $smDesktopWidth) { 
			margin-left: 42px;
		}
		@media screen and (min-width: $beforeTableWidth) { 
			margin-left: 10px;
		}
	}
	& .container-bg {
		@media (min-width: 1200px){
		    max-width: 1293px;
		}
	}
}

// 