.header-hero {
	margin-top: 16px;
	margin-bottom: 66px;
	&__wrapper {
		position: relative;
		padding: 81px 0;
		background-color: #e6ece4;
		height: auto;
		overflow: hidden;
		& .almost-square-btn {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			z-index: 2;
		}
	}
	&__title {
		text-align: center;
		& span {
			font-family: $GS;
			font-size: 63px;
			color: #2f2f2f;
			line-height: 75px;
		}
	}
	&__subtitle {
		margin-top: 29px;
		text-align: center;
		& span {
			font-family: $SFL;
			color: #2f2f2f;
			font-size: 20px;
    		letter-spacing: 0.7px;
		}
	}
	&__form {
		margin-top: 46px;
	}
	.main-form {
		&__container {
			padding: 0 24px;
		}
		&__wrapper {
		    display: flex;
    		flex-direction: row;
		}
		&__inputs {
			width: 100%;
			display: flex;
			flex-direction:row;
  			border-radius: 4px;
		    border: 1px solid #d1d1d1;
		    border-right: none;
		    margin-right: -8px;
		}
		&__input {
			position: relative;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    width: 50%;
		    padding: 0 41px;
		    background-color: #fff;
		    &:nth-child(1) {
		    	&:after {
		    		@media screen and (min-width: $phoneWidth) {
					    content: '';
					    position: absolute;
					    right: 0;
					    top: 50%;
					    transform:translateY(-50%);
					    height: 70%;
					    width: 1px;
					    background-color: #e3e3e3;
					}
		    	}
		    }
		}
		&__input-content {
			white-space: nowrap;
			& span {
				font-family: $SFS;
				font-size: 16px;
				color: #231f20;
				letter-spacing: 0.6px;
			}
			& .arrow-svg {
				background-color: #231f20;
				transform:rotate(180deg);
				margin-left: 10px;
				width: 17px;
				height: 15px;
			}
		}

	}


	&__figure {
		background-image: url(../img/general/hero-item.png);
	    background-size: contain;
	    background-repeat: no-repeat;
	    position: absolute;
	    top: -127px;
	    left: -182px;
	    height: 147%;
	    width: 100%;	
	}
	& .container-bg {
		@media (min-width: 1200px){
		    max-width: 1293px;
		}
	}
}



.whats {
	background-color: #f9f9f9;
	padding: 75px 0 95px;
}
.whats-it {
	user-select: none;
	&__title {
		text-align: center;
		span {
			font-family: $GS;
			font-size: 50px;
			color: #3a3a3a;
			letter-spacing: 2.04px;
			line-height: 66px;
		}
		
	}
	&__subtitle {
		margin-top: 36px;
		text-align: center;
		padding: 0 20px;
		p {
			font-family: $SFR;
			font-size: 16px;
			line-height: 23px;
			letter-spacing: .64px;
			color: #676666;
		}
	}
	&__count {
		margin-top: 90px;
		padding-bottom: 41px;
		border-bottom: 1px solid #e2e2e2;
	}
	&__block {
		background-color: #fff;
		border-radius: 8px;
		padding: 12px 22px 24px;
		margin: 0 -7px;
		&_wrapp {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
		&_pic {
			height: 190px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&_title {
			// min-height: 50px;
			margin-top: -4px;
			& span {
				font-size: 20px;
				font-family: $GS;
				color:#33473f;
				line-height: 23px;
				letter-spacing: .64px;
			}
		}
		&_subtitle {
			margin-top: 12px;
			margin-bottom: 16px;
			p {
				font-family: $SFL;
				color: #515151;
				font-size: 15px;
				line-height: 19px;
				letter-spacing: .64px;
			}
		}
		&_button {
			margin-top: auto;
			& .rectangle-btn-border {
				width: 100%;
				padding: 12px 0;
				height: unset;
				border: 1px solid #6a991d;
			}
			& .rectangle-btn-border-green span {
				font-size: 15px;
				color: #6a991d;
			}
		}
	}
	&__benefits {
		padding-top: 46px;
		&_button {
			margin-top: 49px;
			display: flex;
			justify-content: center;
		}
	}
	&__benefit {
		background-color: #fff;
		border-radius: 7px;		
		overflow: hidden;
		padding: 31px 18px;
		&_wrapper {}
		&_head {
			display:flex;
			flex-direction: row;
			align-items: center;
			& .svg {
				margin-left: -3px;
				height: 24px;
				width: 24px;
				background-color: #33473f;
			}
			& span {
				margin-left: 14px;
				font-family: $GS;
				font-size: 20px;
				color: #33473f;
				line-height: 30px;
				letter-spacing: .64px;
			}
		}
		&_subtitle {
			margin-top: 13px;
			& p {
				font-family: $SFL;
				font-size: 15px;
				line-height: 21px;
				letter-spacing: .64px;
				color: #676666;
			}
		}
		&_button {
			margin-top: 13px;
		}
	}
}
.finda {
	padding: 40px 0 85px;
	&__head {
		padding-top: 39px;
	}
	&__wrapper {
		margin-top: 60px;
	}
	&__button {
		margin-top: 42px;
		display: flex;
		justify-content: center;
	}
}
.profitable {
	background-color: #e6ece4;
	padding: 81px 0 62px;
}