.header-hero {
	margin-bottom: 66px;
	@media screen and (max-width: $beforeTableWidth) {
        margin-bottom: 0;
        margin-top: 11px;
    }
	&__wrapper { 
		position: relative;
		padding: 81px 0;
		background-color: #e6ece4;
		height: auto;
		overflow: hidden;
		@media screen and (max-width: $beforeTableWidth) {
            margin: 0 -41px;
            padding: 49px 30px 67px 38px;
        }
		& .almost-square-btn {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			z-index: 2;
		}
	}
	&__title {
		text-align: center;
		@media screen and (max-width: $beforeTableWidth) {
			text-align: left;
		}
		& span {
			font-family: $GS;
			font-size: 63px;
			color: #2f2f2f;
			line-height: 75px;
			@media screen and (max-width: $desktopWidth) {
				font-size: 53px;
				line-height: 62px;
			}
			@media screen and (max-width: $beforeSmDesktopWidth) {
				font-size: 43px;
				line-height: 54px;
			}
			@media screen and (max-width: $beforeTableWidth) {
            	font-size: 30px;
            	line-height: 42px;
        	}
		}
	}
	&__subtitle {
		margin-top: 29px;
		text-align: center;
		@media screen and (max-width: $beforeTableWidth) {
        	text-align: left;
        	padding-right: 18px;
        	margin-top: 15px;
        }
		& span {
			font-family: $SFL;
			color: #2f2f2f;
			font-size: 20px;
    		letter-spacing: 0.7px;
    		@media screen and (max-width: $beforeSmDesktopWidth) {
    			font-size: 17px;
    		}
    		@media screen and (max-width: $beforeTableWidth) {
        		font-size: 16px;
        		line-height: 22px;
       		}
		}
	}
	&__form {
		margin-top: 46px;
		@media screen and (max-width: $beforeTableWidth) {
    		margin: 46px -25px 0;
   		}
	}
	.main-form {
		&__container {
			padding: 0 24px;
		}
		&__wrapper {
		    display: flex;
    		flex-direction: row;
    		& .almost-square-btn {
    			@media screen and (max-width: $beforeSmDesktopWidth) { 
    				padding: 28px 51px;
    			}
				@media screen and (max-width: $beforeTableWidth) {
					border-radius: 0 0 4px 4px;
					padding: 24px 65px;  
				}
    		}
    		@media screen and (max-width: $beforeTableWidth) {
        		flex-direction: column;
        		max-width: 300px;
       		}
       		@media screen and (min-width: $phoneWidth) and (max-width: $beforeTableWidth) {
    			max-width: 300px;
        		margin: 0 auto;
    		}
		}
		&__inputs {
			width: 100%;
			display: flex;
			flex-direction:row;
  			border-radius: 4px;
		    border: 1px solid #d1d1d1;
		    border-right: none;
		    margin-right: -8px;
		    @media screen and (max-width: $beforeTableWidth) {
        		flex-direction: column;
        		border-right: unset;
        		border: 1px solid #d1d1d1;
        		border-bottom: 0px;
       		}
		}
		&__input { 
			position: relative;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    width: 50%;
		    padding: 0 41px;
		    background-color: #fff;
		    &:first-child{
		    	@media screen and (min-width: $tableWidth) { 
		    		border-radius:4px 0px 0px 4px;
		    	}	
		    }
		    @media screen and (max-width: $beforeSmDesktopWidth) { 
		    	padding: 0 20px;
		    }
		    @media screen and (max-width: $beforeTableWidth) {
        		width: 100%;
        		padding: 19px 41px;
        		&:first-child{
        			border-radius: 4px 4px 0 0;
        			&:after {
        				content: '';
        				position: absolute;
        				bottom: 0;
        				left: 50%;
        				transform:translateX(-50%);
        				height: 1px;
        				width: 80%;
        				background-color: #dadada;
        			}
        		}
       		}
		    &:nth-child(1) {
		    	&:after {
		    		@media screen and (min-width: $tableWidth) {
					    content: '';
					    position: absolute;
					    right: 0;
					    top: 50%;
					    transform:translateY(-50%);
					    height: 70%;
					    width: 1px;
					    background-color: #e3e3e3;
					}
		    	}
		    }
		}
		&__input-content {
			white-space: nowrap;
			& span {
				font-family: $SFS;
				font-size: 16px;
				color: #231f20;
				letter-spacing: 0.6px;
				@media screen and (max-width: $beforeSmDesktopWidth) {
					font-size: 14px;
				}
			}
			& .arrow-svg {
				background-color: #231f20;
				transform:rotate(180deg);
				margin-left: 10px;
				width: 17px;
				height: 15px;
			}
		}

	}
	&__figure {
		background-image: url(../img/general/hero-item.png);
	    background-size: contain;
	    background-repeat: no-repeat;
	    position: absolute;
	    top: -127px;
	    left: -182px;
	    height: 147%;
	    width: 100%;	
	    @media screen and (max-width: $desktopWidth) {
		    top: 43px;
		    left: -162px;
		    height: 107%;
		    width: 100%;
	    }
	    @media screen and (max-width: $beforeSmDesktopWidth) {
    	    height: 117%;
			width: 100%;
			top: -67px;
    		left: -182px;
	    }
		@media screen and (max-width: $beforeTableWidth) {
			height: 147%;
	    	width: 100%;	
			top: unset;
			bottom: -309px;
    		left: -152px;
		}
		@media screen and (max-width: $beforePhoneWidth ) {
			bottom: -569px;
		    left: -112px;
		}	     
	}
	& .container-bg {
		@media (min-width: 1200px){
		    max-width: 1293px;
		}
	}
}
.whats {
	background-color: #f9f9f9;
	padding: 75px 0 95px;
	@media screen and (max-width: $beforeTableWidth) {
	    padding: 42px 0 67px;
	}
}
.whats-it {

	&__title {
		text-align: center;
		@media screen and (max-width: $beforeTableWidth) {
			margin: 0 -4px;
		}
		span {
			font-family: $GS;
			font-size: 50px;
			color: #3a3a3a;
			letter-spacing: 2.04px;
			line-height: 66px;
			letter-spacing: 2.03px;
			@media screen and (max-width: $desktopWidth) {
				font-size: 40px;
				line-height: 50px;
				letter-spacing: 2.26px;
			}
			@media screen and (max-width: $beforeSmDesktopWidth) {
				font-size: 36px;
				line-height: 47px;	
				letter-spacing: 2.03px;
			}
			@media screen and (max-width: $beforeTableWidth) {
				font-size: 30px;
				line-height: 40px;
				letter-spacing: 1.69px;
			}
		}
		
	}
	&__subtitle {
		margin-top: 36px;
		text-align: center;
		padding: 0 20px;
		@media screen and (max-width: $desktopWidth) {
			margin-top: 21px;
		}
		@media screen and (max-width: $beforeSmDesktopWidth) {
			margin-top: 25px;
		}
		@media screen and (max-width: $beforeTableWidth) {
			padding: 0;
			margin: 16px -15px 0;
		}
		p {
			font-family: $SFR;
			font-size: 16px;
			line-height: 25px;
			letter-spacing: 0.64px;
			color: #676666;
			@media screen and (max-width: $desktopWidth) {
				font-size: 14px;
				line-height: 17.72px;
				letter-spacing: 0.79px;
			}
		}
	}
	&__count {
		margin-top: 90px;
		padding-bottom: 41px;
		border-bottom: 1px solid #e2e2e2;
		@media screen and (max-width: $beforeTableWidth) {
			margin-top: 25px;
			padding-bottom: 1px;
		}
	}
	&__block {
		background-color: #fff;
		border-radius: 8px;
	    padding: 30px 28px 24px;
		margin: 0 -7px;
		@media screen and (max-width: $desktopWidth ) {
			margin-bottom: 21px;
		    padding: 30px 17px 24px;
		}
		@media screen and (max-width: $beforeSmDesktopWidth) {
		    
		    padding: 30px 23px 24px;
		}
		@media screen and (max-width: $beforeTableWidth) {
			max-width: 300px;
			margin: 0 auto 21px;
		}
		&_wrapp {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
		&_pic {
			height: 190px;
			display: flex;
			align-items: center;
			justify-content: center;
			@media screen and (max-width: $beforeTableWidth) {
			    height: 121px;
			}
		}
		&_title {
			// min-height: 50px;
			margin-top: -4px;
			@media screen and (max-width: $beforeTableWidth) {
				margin-top: 27px;
			}
			& span {
				font-size: 20px;
				font-family: $GS;
				color:#33473f;
				line-height: 23px;
				letter-spacing: .64px;
			}
		}
		&_subtitle {
			margin-top: 12px;
			margin-bottom: 16px;
			@media screen and (max-width: $beforeTableWidth) {
				margin-top: 8px;
		    	margin-bottom: 30px;
			}
			p {
				font-family: $SFL;
				color: #515151;
				font-size: 15px;
				line-height: 19px;
				letter-spacing: .64px;
				@media screen and (max-width: $beforeTableWidth) {
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
		&_button {
			margin-top: auto;
			& .rectangle-btn-border {
				width: 100%;
				padding: 12px 0;
			}
			& .rectangle-btn-border-green span {
				font-size: 15px;
			}
		}
	}
	&__benefits {
		padding-top: 46px;
		@media screen and (max-width: $beforeTableWidth) {
			padding-top: 35px;
		}
		&_button {
			margin-top: 49px;
			display: flex;
			justify-content: center;
			@media screen and (max-width: $beforeTableWidth) {
				margin-top: 9px;
			}
		}
	}
	&__benefit {
		background-color: #fff;
		border-radius: 7px;		
		overflow: hidden;
		padding: 31px 18px;
		@media screen and (max-width: $beforeSmDesktopWidth ) {
			margin-bottom: 22px;
		}
		@media screen and (max-width: $beforeTableWidth) {
	        padding: 20px 22px;
		}
		&_head {
			display:flex;
			flex-direction: row;
			align-items: center;
			& .svg {
				margin-left: -3px;
				height: 24px;
				width: 24px;
				background-color: #33473f;
				@media screen and (max-width: $beforeTableWidth) {
					margin-left: 0px;
					height: 21px;
					width: 21px;
				}
			}
			& span {
				margin-left: 14px;
				font-family: $GS;
				font-size: 20px;
				color: #33473f;
				line-height: 30px;
				letter-spacing: .64px;
			}
		}
		&_subtitle {
			margin-top: 13px;
			& p {
				font-family: $SFL;
				font-size: 15px;
				line-height: 21px;
				letter-spacing: .64px;
				color: #676666;
				@media screen and (max-width: $beforeTableWidth) {
				    font-size: 14px;
				    line-height: 17px;
				}
			}
		}
		&_button {
			margin-top: 13px;
			@media screen and (max-width: $beforeTableWidth) {
				margin-top: 19px;
			}

		}
	}
}
.finda {
	padding: 40px 0 85px;
	&__head {
		padding-top: 39px;
		@media screen and (max-width: $beforeTableWidth) {
			padding-top: 13px;
		}
	}
	&__wrapper {
		margin-top: 60px;
	}
	&__button {
		margin-top: 42px;
		display: flex;
		justify-content: center;
	}
}
.profitable {
	background-color: #e6ece4;
	padding: 98px 0 113px;
	overflow: hidden;
	margin-bottom: -35px!important;
	&.in-catalog {
		padding: 78px 0 83px;
		@media screen and (max-width: $desktopWidth) {
			padding: 77px 0 123px;
		}
		@media screen and (max-width: $beforeSmDesktopWidth) {
			padding: 80px 0 110px;	
		}
		@media screen and (max-width: $beforeTableWidth) {
			padding: 56px 0 128px;
		}
	}
	& .whats-it__title {
		span {
			font-size: 48px;
			
		}
	}
	&__head {
		& .whats-it__title {
			@media screen and (max-width: $beforeTableWidth) {
        		margin: 0 -12px;
    		}
		}
	}
	@media screen and (max-width: $desktopWidth) {
		padding: 77px 0 123px;
	}
	@media screen and (max-width: $beforeSmDesktopWidth) {
		padding: 80px 0 110px;	
	}
	@media screen and (max-width: $beforeTableWidth) {
    	padding: 56px 0 128px;
	}
	&__f-figure {
	    position: absolute;
	    top: 0;
	    left: -2%;
    	width: 264px;
		height: 45%;
		max-height: 160px;
	    background-repeat: no-repeat;
	    background-size: cover;
	    @media screen and (max-width: $desktopWidth) {
			
		}
		@media screen and (max-width: $beforeSmDesktopWidth) {
		    left: -5%;
    		width: 210px;
		    height: 37%;
		}
		@media screen and (max-width: $beforeTableWidth) {
        	display: none;
    	}
	} 
	&__s-figure {
		position: absolute;
        bottom: 0;
	    right: -4%;
	    height: 63%;
		width: 536px;
		max-height: 270px;
	    background-repeat: no-repeat;
	    background-size: cover;
	    @media screen and (max-width: $desktopWidth) {
			height: 57%;
	        right: -12%;
    		width: 461px;
		}
		@media screen and (max-width: $beforeSmDesktopWidth) {
		    
    		right: -12%;
    	    height: 52%;
    		width: 361px;
		}
		@media screen and (max-width: $beforeTableWidth) {
	    	right: -7%;
			height: 40%;
			width: 261px;
    	}
    	@media screen and (max-width: $beforePhoneWidth) {
			right: -7%;
			height: 37%;
			width: 261px;
		}
	}
}
.profitable-cards {
	background-color: #f9f9f9;
	& .catalog__wrapper {
	    margin-top: -91px;
	    @media screen and (max-width: $beforeTableWidth) {
    	    margin-top: -68px;
    	}
	}
}
.guide-video {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px -6px;
	display: block;
	border-radius: 4px;
}

.mscroll {
	display: grid;
	grid-template-columns: 80% auto;
	margin: 0;   
}
.simplebar-scrollbar {
	background-color: #d7d6d7;
    border-radius: 61px;
    
}
.simplebar-scrollbar:before {
	background-color: transparent;
	opacity: 1;

}
.simplebar-track {
	background-color: #f7f7f7;
    border-radius: 61px;

}
.simplebar-track:before {
	background-color: #f7f7f7;
    border-radius: 61px;

}
.simplebar-track.simplebar-vertical {
    top: 0;
    width: 6px;
}