 .pass-recovery {
 	background-color: #f9f9f9;
    min-height: 80vh;
    padding-top: 80px;
    @media screen and (max-width: $desktopWidth ) {
		
	}
	@media screen and (max-width: $beforeSmDesktopWidth) {
		
	}
	@media screen and (max-width: $beforeTableWidth) {
		padding-top: 35px;
		padding-bottom: 35px;
	}
 	&__wrapper {
	    width: 420px;
 		display:flex;
 		flex-direction:column;
 		justify-content:center;
	    margin: 0 auto;
	    align-items: center;
	    @media screen and (max-width: $beforeTableWidth) {
			width: 100%;
		}
 	}
 	&__body {
 		width: 272px;
	    margin: 35px auto 0;
	    @media screen and (max-width: $beforeTableWidth) {
			width: 100%;
		}
 	}
 	&__save-button {
 		display: flex;
	    margin-top: 31px;
	    justify-content: center;
	    & .rectangle-btn {
    	    padding: 22px 35px;
	    }
	}	
 }