.profile {
    padding-top: 0;
    background-color: #f9f9f9;
    &__wrapper {
        position: relative;
        border-radius: 8px;
        margin-top: -73px;
    }
    &__body {
        padding: 30px;
    }
}
.profile-preview {
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    &__body {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__item {
        padding-left: 25px;
        border-left: 1px solid #dadada;
        margin-right: 38px;
        display: flex;
        flex-direction: column;
        &:last-child {
            margin-right: 0;
        }
        &.profile-preview__photo {
            border-left: none;
            padding-left: 0px;
        }
        &.profile-preview__price {
            & span {
                &:nth-child(1){
                    font-family: $SFS;
                    font-size: 16px;
                    color: #231f20;
                }
                &:nth-child(2){
                    border-bottom: 1px solid #b1b1b1;
                }
            }
        }
        & span {
            &:nth-child(1){
                font-family: $SFB;
                font-size: 16px;
                color: #231f20;
            }
            &:nth-child(2){
                font-family: $SFR;
                font-size: 16px;
                color: #231f20;
            }
            
        }
    }
    &__pic {
        height: 86px;
        width: 85px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }
    &__catacts {
        display: flex;
        flex-direction: row;
    }
}
.profile-slider {
    &__wrapper {
        position: relative;
        overflow: hidden;
    }
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        filter: blur(7px);
        transition: .4s;
        background-color:#e6ece4;
        background-position: center;
    }
    &__item {
        height: 70vh;
        & img {
            height: 100%;
            width: auto;
            margin: 0 auto;
        }
    }
    &__nav {
        position: absolute;
        bottom: 73px;
        width: 100%;
        height: auto;
        padding-bottom: 17px;
        & .slick-slide {
        }
        & .slider-nav {
            margin: 0 auto;
            width: 375px;

            &__canvas-item {
                padding: 0 5px;
            }
        }
        

        &_item {
            border-radius: 12px;
            //width: 66px!important;
            height: 60px;
            background-position: center;
            background-size: cover;
            
        }
    }
    &__controls {
        & .slick-arrow {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            cursor: pointer;
        }
    }
    &__prev {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-100%);
        & .full-arrow-svg {
            transform: rotate(-90deg);
        }
    }
    &__next {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-100%);
        & .full-arrow-svg {
            transform: rotate(90deg);
        }
    }
}
.profile-core {
    margin-top: 41px;
    &__content {
        padding: 38px 30px;
        border-radius: 8px;
        background-color: #fff;
    }
    &__input {
        &::placeholder {
            font-family: $GM;
            font-size: 16px;
            color: #202020;
        }
    }
    
    &__intro {
        & span {
            font-family: $GS;
            font-size: 25px;
            color: #231f20;
        }
    }
    &__sity {
        margin-top: 10px;
        display: flex;
        align-items: center;
        & .location-svg {
            height: 15px;
            width: 13px;
            background-color: #b8b7b8;
            margin-right: 7px;
            margin-bottom: 2px;
        }
        & span {
            font-family: $SFR;
            font-size: 15px;
            color: #979697;
        }
    }
    &__subtitle {
        margin-top: 30px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 35px;
        & p {
            font-family: $SFR;
            font-size: 16px;
            color:#202020;
        }
    }
    &__contacts {
        margin-top: 30px;
        &_title {
            font-family: $GS;
            font-size: 19px;
            color: #343434;
        }
    }
    &__list {
        padding: 16px;
        border-radius: 8px;
        & .pr-block {
            margin-bottom: 0px;
        }
    }
    &__text {
        padding: 18px 25px 18px 60px;
        background-color: #e6ece4;
        border-radius: 4px;
        font-family: $GM;
        font-size: 16px;
        color: #231f20;
    }
    &__sidebar {
        display: flex;
        flex-direction: column;
        padding-left: 27px;
    }
}

.sidebar {
    &__slash {
        width: 1px;
        background-color: #ededed;
    }
    &__calendar {
        padding-top: 10px;
        border-top: 1px solid #ebebeb;
    }
    &__title {
        margin-bottom: 20px;
        & span {
            font-family: $GS;
            font-size: 19px;
            color: #343434;
        }
    }
    &__item {
        margin-bottom: 38px;
        padding: 30px 30px 0;
        border-radius: 8px;
        background-color: #fff;
    }
    &__head {
        padding-bottom: 18px;
        border-bottom: 1px solid #ededed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_item {
            display: flex;
            flex-direction: column;
            & span {
                font-family: $GR;
                font-size: 14px;
                color: #8f8f8f;
                &.service-name {
                    font-family: $GS;
                    font-size: 16px;
                    color: #202020;
                }
                &.sidebar-price {
                    font-family: $GR;
                    font-size: 16px;
                    color: #202020;
                }
            }
        }
    }
    &__description {
        margin-top: 20px;
        padding-bottom: 23px;
        & span {
            font-family: $GR;
            font-size: 14px;
            color: #8f8f8f;
        }
        & p {
            font-family: $SFL;
            font-size: 14px;
            color: #202020;
            margin-top: 5px;
        }
    }
}