<% var data = {
    title: "Заголовок | Проект",
    author: "Harrix"
  }; %>
<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))(data) %>

<section id="fof-page" class="fof-page">
    
                <div class="fof-page__wrapp">
                    <div class="fof-page__pic">
                        <img src="./img/general/404.png" alt="">
                    </div>
                    <div class="fof-page__title">
                        <span>Что то пошло не так</span>
                    </div>
                    <div class="fof-page__button">
                        <a href="#" class="rectangle-btn-border rectangle-btn-border-green"><span>На главную</span></a>
                    </div>
                </div>
           
</section>

<%= _.template(require('./../includes/footer.html'))(data) %>