<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))(data) %>
		
		<section class="catalog" >
			<div class="catalog-nav" id="catalog-nav">

				<div class="catalog-nav__first">
					<div class="container">
						<div class="row no-gutters">
							<!-- html change -->
							<div class="col-12 d-md-none d-lg-block col-lg-1 col-xl-2">
								<div class="catalog-nav__title">
									<span>Каталог</span>
								</div>
							</div>
							<!-- html change -->
							<div class="col-12 col-md-12 col-lg-11 col-xl-9"> 
								<div class="catalog-filter__preview">
									<div class="catalog-filter__preview-title">
										<span>Фильтры специалистов</span>
										<div class="filter-svg"></div>
									</div>
								</div>
								<div class="catalog-filter">
									<div class="catalog-filter__wrapper">
										<div class="catalog-filter__control">
											<span>Фильтры поиска</span>
											<div class="times-svg"></div>
										</div>
										<div class="catalog-filter__item">
											<div class="catalog-select">
												<div class="catalog-select__intro">
													<div class="catalog-select__title">
														<span>Город</span>
														<div class="arrow-svg"></div>
													</div>
													<div class="catalog-select__result">
														<span>Москва</span>
													</div>
												</div>
												<div class="catalog-select__body">
													<div class="catalog-select__body-title">
	 													<span>Выберете город</span>
	 												</div>
													<div class="form__select-wrapper">
		 												<div class="form__select-list">
			 												<span>Москвабад</span>
			 												<span>Питерстан</span>
			 												<span>Сочян</span>
			 												<span>Краснодаридзе</span>
		 												</div>
	 												</div>
												</div>
											</div>
										</div>
										<div class="catalog-filter__item">
											<div class="catalog-select">
												<div class="catalog-select__intro">
													<div class="catalog-select__title">
														<span>Специальность</span>
														<div class="arrow-svg"></div>
													</div>
													<div class="catalog-select__result">
														<span>Фотограф</span>
													</div>
												</div>
												<div class="catalog-select__body">
													<div class="catalog-select__body-title">
	 													<span>Выберете специальность</span>
	 												</div>
													<div class="form__select-wrapper">
		 												<div class="form__select-list">
			 												<span>Художники</span>
			 												<span>Фотографы</span>
			 												<span>Ведущие</span>
			 												<span>Колористы</span>
			 												<span>Организаторы</span>
			 												<span>Рестораны</span>
			 												<span>Аниматоры</span>
			 												<span>Эвент-мейкеры</span>
			 												<span>Хареографы</span>
		 												</div>
	 												</div>
												</div>
											</div>
										</div>
										<div class="catalog-filter__item">
											<div class="catalog-select">
												<div class="catalog-select__intro">
													<div class="catalog-select__title">
														<span>Дата</span>
														<div class="arrow-svg"></div>
													</div>
													<div class="catalog-select__result">
														<span>Москва</span>
													</div>
												</div>
												<div class="catalog-select__body">
													<div class="catalog-select__body-title">
	 													<span>Выберете размер скидки</span>
	 												</div>
													<v-calendar
														mode='range' 
														title-position="left"
														v-model='date'
														is-inline
														color="red"
														:popover="{ placement: 'bottom', visibility: 'click' }">
													</v-calendar>
													<div class="catalog-select__button"><a href="#" class="rectangle-btn-border rectangle-btn-border-green"><span>Применить</span></a></div>
												</div>
											</div>
										</div>
										<div class="catalog-filter__item">
											<div class="catalog-select">
												<div class="catalog-select__intro">
													<div class="catalog-select__title">
														<span>Размер скидки</span>
														<div class="arrow-svg"></div>
													</div>
													<div class="catalog-select__result">
														<span>Москва</span>
													</div>
												</div>
												<div class="catalog-select__body">
													<div class="catalog-select__body-title">
	 													<span>Выберете размер скидки</span>
	 												</div>
													<div class="form__select-wrapper">
		 												<div class="form__range">
		 													<div class="range-result">
			 													<span class="rent-value">
			 														
			 													</span>
		 													</div>
			 												<input type="text" id="sampleSlider" />
		 												</div>
		 												
	 												</div>
	 												<div class="catalog-select__button">
	 													<a href="#" class="rectangle-btn-border rectangle-btn-border-green">
															<span>Применить</span>
														</a>
	 												</div>
												</div>
											</div>
										</div>
										<div class="catalog-filter__item">
											<div class="catalog-select">
												<div class="catalog-select__intro">
													<div class="catalog-select__title">
														<span>Стоимость</span>
														<div class="arrow-svg"></div>
													</div>
													<div class="catalog-select__result">
														<span>Не выбрано</span>
													</div>
												</div>
												<div class="catalog-select__body">
													<div class="catalog-select__body-title">
	 													<span>Выберете стоимость услуг</span>
	 												</div>
													 <div class="form__select-wrapper">
														<div class="form__range">
															<div class="range-result">
																<span class="rent-value">
																	
																</span>
															</div>
															<input type="text" id="sampleSlider" />
														</div>
													</div>
	 												<div class="catalog-select__button">
	 													<a href="#" class="rectangle-btn-border rectangle-btn-border-green">
															<span>Применить</span>
														</a>
	 												</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Доп фильтры -->
			<div class="additional_filters">
				<div class="container">
					<div class="row no-gutters">
						<!-- html change none -->
						<div class="col-md-9 col-lg-10 col-xl-10">
							<div class="additional_filters__wrapper">
								<div class="how-much-filters">
									<div class="how-much-filters__wrapper">
										<div class="how-much-filters__main">
											<ul>
												<li>
													<label for="five-offers">
														<input id="five-offers" class="how-much__input" type="radio" name="gender" value="five-offers">
														<span>5 предложений</span>
													</label>
												</li>
												<li>
													<label for="ten-offers">
														<input id="ten-offers" class="how-much__input" type="radio" name="gender" value="ten-offers">
														<span>10 предложений</span>
													</label>
												</li>
												<li>
													<label for="all-offers">
														<input checked="checked" id="all-offers" class="how-much__input" type="radio" name="gender" value="all-offers">
														<span>Все предложения</span>
													</label>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="additional_filters__main">
									<div class="additional_filters__item">
										<div class="catalog-select">
											<div class="catalog-select__intro">
												<div class="catalog-select__title">
													<span>Декор</span>
													<div class="arrow-svg"></div>
												</div>
											</div>
											<div class="catalog-select__body">
												<div class="catalog-select__body-title">
													 <span>Выберете специальность</span>
												 </div>
												<div class="form__select-wrapper">
													 <div class="form__select-list">
														 <span>Художники</span>
														 <span>Фотографы</span>
														 <span>Ведущие</span>
														 <span>Колористы</span>
														 <span>Организаторы</span>
														 <span>Рестораны</span>
														 <span>Аниматоры</span>
														 <span>Эвент-мейкеры</span>
														 <span>Хареографы</span>
													 </div>
												 </div>
											</div>
										</div>
									</div>
									<div class="additional_filters__item">
										<div class="catalog-select">
											<div class="catalog-select__intro">
												<div class="catalog-select__title">
													<span>Кол-во человек</span>
													<div class="arrow-svg"></div>
												</div>
											</div>
											<div class="catalog-select__body">
												<div class="catalog-select__body-title">
													 <span>Выберете размер скидки</span>
												 </div>
												<div class="form__select-wrapper">
													 <label class="form__label">
														<span>Кол-во</span>
														<input type="text" class="form__input" placeholder="Кол-во">
													</label>
													 
												 </div>
												 <div class="catalog-select__button">
													 <a href="#" class="rectangle-btn-border rectangle-btn-border-green">
														<span>Применить</span>
													</a>
												 </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-lg-2 col-xl-2">
							<div class="additional_filters__checkbox">
								<label class="filter-checkbox">Спецпредложения
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- html change new-->
			<div class="catalog__nothing">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="catalog__nothing_body">
								<div class="catalog__nothing_pic">
									<img src="./img/general/what.png" alt="">
								</div>
								<div class="catalog__nothing_title">
									<span>Ничего не найдено</span>
								</div>
								<div class="info-page__head_subtitle">
									<p>
										Упс.... По вашему запросу ничего не найдено попробуйте снова
									</p>
								</div>
								<div class="catalog__nothing_button">
									<a href="#" class="thin-rectangle-btn rectangle-btn-border-green"><span>Вернуться назад</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- / html change -->
			<div class="catalog__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="catalog-card">
								<div class="catalog-card__head">
									<div class="catalog-card__head-photo" style="background-image: url(/img/person.png);">
										
									</div>
									<div class="catalog-card__head-info catalog-card-name">
										<span class="catalog-card__first-title"><a href="#">Александр Мирошниченко</a></span>
										<span class="catalog-card__second-title">Колористика</span>
									</div>
									<div class="catalog-card__head-info catalog-card-insta">
										<span class="catalog-card__first-title">@info_mirosch</span>
										<span class="catalog-card__second-title">Instagram</span>
									</div>
									<div class="catalog-card__head-info catalog-card-price">
										<span class="catalog-card__first-title">Цена со скидкой</span>
										<div class="catalog-card__price">
											<span class="catalog-card__second-title">3 000 р / час</span>
										</div>
									</div>
									<div class="catalog-card__head-info-discount">
										<div class="catalog-card__discount-icon">
											<div class="percent-svg"></div>	
										</div>
										<div class="catalog-card__discount-info">
											<span>Скидка: 30%</span>
											<span><a href="#">Все скидки</a></span>
										</div>
									</div>
								</div>
								<div class="catalog-card__media">
									<div class="glide">
										<div class="glide__track" data-glide-el="track">
											<ul class="glide__slides">
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/1.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/1.png');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/1.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/2.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/1.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/2.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/1.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/2.jpg');"></div>
											  </li>
											</ul>
										</div>
										<div class="glide__arrows">
											<div class="glide__left" data-glide-el="controls">
												<button class="glide__arrow glide__arrow--prev" data-glide-dir="<">
													<span class="strelka-svg"></span>
												</button>
											</div>
											<div class="glide__right" data-glide-el="controls">
												<button class="glide__arrow glide__arrow--next" data-glide-dir=">">
													<span class="strelka-svg"></span>
												</button>
												
											</div>
										</div>
									</div>
								</div>
								<div class="catalog-card__contacts-block">
									<div class="catalog-card__head-info catalog-card-insta">
										<span class="catalog-card__first-title">@info_mirosch</span>
										<span class="catalog-card__second-title">Instagram</span>
									</div>
									<div class="contacts-block__item">
										<a href="#">
											<div class="at-svg contacts-block-svg"></div>
										</a>
									</div>
									<div class="contacts-block__item">
										<a href="#">
											<div class="wa-svg contacts-block-svg"></div>
										</a>
									</div>
									<div class="contacts-block__item">
										<a href="#">
											<div class="phone-svg contacts-block-svg"></div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-12">
							<div class="catalog-card">
								<div class="catalog-card__head">
									<div class="catalog-card__head-photo" style="background-image: url(/img/person.png);">
										
									</div>
									<div class="catalog-card__head-info catalog-card-name">
										<span class="catalog-card__first-title"><a href="#">Александр Мирошниченко</a></span>
										<span class="catalog-card__second-title">Колористика</span>
									</div>
									<div class="catalog-card__head-info catalog-card-insta">
										<span class="catalog-card__first-title">@info_mirosch</span>
										<span class="catalog-card__second-title">Instagram</span>
									</div>
									<div class="catalog-card__head-info catalog-card-price">
										<span class="catalog-card__first-title">Цена</span>
										<div class="catalog-card__price">
											<span class="catalog-card__second-title">3 000 р / час</span>
										</div>
									</div>
								</div>
								<div class="catalog-card__media">
									<div class="glide">
										<div class="glide__track" data-glide-el="track">
											<ul class="glide__slides">
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/1.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/1.png');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/1.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/2.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/1.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/2.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/1.jpg');"></div>
											  </li>
											  <li class="glide__slide">
											  	<div class="glide__slide-bg"></div>
											  	<div class="glide__slide-search">
											  		<div class="search-svg"></div>
											  	</div>
											  	<div class="glide__slide__item" style="background-image: url('/img/slider/2.jpg');"></div>
											  </li>
											</ul>
										</div>
										<div class="glide__arrows">
											<div class="glide__left" data-glide-el="controls">
												<button class="glide__arrow glide__arrow--prev" data-glide-dir="<">
													<span class="strelka-svg"></span>
												</button>
											</div>
											<div class="glide__right" data-glide-el="controls">
												<button class="glide__arrow glide__arrow--next" data-glide-dir=">">
													<span class="strelka-svg"></span>
												</button>
												
											</div>
										</div>
									</div>
								</div>
								<div class="catalog-card__contacts-block">
									<div class="catalog-card__head-info catalog-card-insta">
										<span class="catalog-card__first-title">@info_mirosch</span>
										<span class="catalog-card__second-title">Instagram</span>
									</div>
									<div class="contacts-block__item">
										<a href="#">
											<div class="at-svg contacts-block-svg"></div>
										</a>
									</div>
									<div class="contacts-block__item">
										<a href="#">
											<div class="wa-svg contacts-block-svg"></div>
										</a>
									</div>
									<div class="contacts-block__item">
										<a href="#">
											<div class="phone-svg contacts-block-svg"></div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="catalog-pagination">
					<div class="catalog-pagination__wrapper">
						<div class="catalog-pagination__body">
							<a href="#" class="catalog-pagination__item active">1</a>
							<a href="#" class="catalog-pagination__item">2</a>
							<a href="#" class="catalog-pagination__item">3</a>
							<a href="#" class="catalog-pagination__item">...</a>
							<a href="#" class="catalog-pagination__item">98</a>
						</div>
					</div>
				</div>
			</div>
		</section>

 	
<%= _.template(require('./../includes/footer.html'))(data) %>
  

