<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))(data) %>
<section id="pass-recovery" class="pass-recovery">
	<div class="container">
		<div class="pass-recovery__wrapper">
			<div class="pass-recovery__title">
				<div class="modal__title">
					<span>Восстановление пароля</span>
				</div>
			</div>
			<div class="modal__subtitle">
				<span>Введите новый пароль. Новый пароль не должен совпадать со старым паролем.</span>
			</div>
			<div class="pass-recovery__body">
				<form action="">
					<label class="form__label"><span>Новый пароль</span> <input type="password" placeholder="********" class="form__input"></label>
					<label class="form__label"><span>Подтверждение пароля</span> <input type="password" placeholder="********" class="form__input"></label>
					<div class="pass-recovery__save-button"><a href="#" class="rectangle-btn rectangle-btn-green"><span>Сохранить пароль</span></a></div>
				</form>
			</div>
		</div>
	</div>
</section>


<%= _.template(require('./../includes/footer.html'))(data) %>