<% var data = {
    title: "Заголовок | Проект",
    author: "Harrix"
  }; %>
<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))(data) %>
   
<section id="profile" class="profile">
    <div class="profile-slider">
        <div class="profile-slider__wrapper">
            <div class="profile-slider__background" id="profile-slider-bg" style="background-image: url(./img/slider/o.jpg);"></div>
            <div class="profile-slider__body">
                <div class="profile-slider__main">
                    <div class="slider-for">
                        <div class="profile-slider__item">
                            <img src="./img/slider/d.jpg" class="" alt="">
                        </div>
                        <div class="profile-slider__item">
                            <img src="./img/slider/b.jpg" class="" alt="">
                        </div>
                        <div class="profile-slider__item">
                            <img src="./img/slider/o.jpg" class="" alt="">
                        </div>
                        <div class="profile-slider__item">
                            <img src="./img/slider/o.jpg" class="" alt="">
                        </div>
                        <div class="profile-slider__item">
                            <img src="./img/slider/o.jpg" class="" alt="">
                        </div>
                        <div class="profile-slider__item">
                            <img src="./img/slider/ao.jpg" class="" alt="">
                        </div>
                    </div>
                    <div class="profile-slider__controls">
                        <div class="profile-slider__prev">
                            <div class="full-arrow-svg"></div>
                        </div>
                        <div class="profile-slider__next">
                            <div class="full-arrow-svg"></div>
                        </div>
                    </div>
                </div>
                <div class="profile-slider__nav">
                    <div class="slider-nav">
                        
                        <div class="slider-nav__canvas-item">
                            <div class="profile-slider__nav_item" style="background-image: url(./img/slider/d.jpg);"></div>
                        </div>
                        <div class="slider-nav__canvas-item">
                            <div class="profile-slider__nav_item" style="background-image: url(./img/slider/d.jpg);"></div>
                        </div>
                        <div class="slider-nav__canvas-item">
                            <div class="profile-slider__nav_item" style="background-image: url(./img/slider/b.jpg);"></div>
                        </div>
                        <div class="slider-nav__canvas-item">
                            <div class="profile-slider__nav_item" style="background-image: url(./img/slider/o.jpg);"></div>
                        </div>
                        <div class="slider-nav__canvas-item">
                            <div class="profile-slider__nav_item" style="background-image: url(./img/slider/o.jpg);"></div>
                        </div>
                        <div class="slider-nav__canvas-item">
                            <div class="profile-slider__nav_item" style="background-image: url(./img/slider/o.jpg);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="profile__wrapper">
            <div class="row">
                <div class="col-xl-12">
                    <div class="profile__body">
                        <div class="profile-preview">
                            <div class="profile-preview__body">
                                <div class="profile-preview__item profile-preview__photo">
                                    <div class="profile-preview__pic" style="background-image: url(./img/person.png);">
                                    </div>
                                </div>
                                <div class="profile-preview__item profile-preview__name">
                                    <span>Виктория Неикивфорова</span>
                                    <span>Колористика</span>
                                </div>
                                <div class="profile-preview__item profile-preview__insta">
                                    <span>@info_mirosch</span>
                                    <span>Instagram</span>
                                </div>
                                <!-- <div class="profile-preview__item profile-preview__price">
                                    <span>Цена со скидкой</span>
                                    <span>от 3 000 р / час</span>
                                </div> -->
                                <div class="profile-preview__item profile-preview__catacts">
                                    <div class="contacts-block__item">
                                        <a href="#">
                                            <div class="at-svg contacts-block-svg"></div>
                                        </a>
                                    </div>
                                    <div class="contacts-block__item">
                                        <a href="#">
                                            <div class="wa-svg contacts-block-svg"></div>
                                        </a>
                                    </div>
                                    <div class="contacts-block__item">
                                        <a href="#">
                                            <div class="phone-svg contacts-block-svg"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-core">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-8 col-xl-8">
                                    <div class="profile-core__content">
                                        <div class="profile-core__intro">
                                            <div class="profile-core__title">
                                                <span>Колорист</span>
                                            </div>
                                            <div class="profile-core__sity">
                                                <div class="location-svg"></div>
                                                <span>Санкт-Петербург</span>
                                            </div>
                                            <div class="profile-core__subtitle">
                                                <p>
                                                    Мы понимаем, как ценно Ваше время, поэтому предоставляем услуги по
                                                    работе с электрикой в день обращения. Наши мастера могут быть у Вас
                                                    уже через полчаса и начать выполнять необходимые работы. Стаж наших 
                                                    электриков более 8 лет, а потому нам не составит труда исправить поломку
                                                    или установить любые компоненты электроснабжения в кратчайшие сроки 
                                                    Наши мастера могут быть у Вас уже через полчаса и начать выполнять
                                                    необходимые работы.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="profile-core__contacts">
                                            <div class="profile-core__contacts_title">
                                                <span>Контакты</span>
                                            </div>
                                            <div class="pe-block__form form">
                                                <form action="">
                                                    <div class="row">
                                                        <div class="col-xl-6">
                                                            <label class="form__label">
                                                                <span>Телефон</span>
                                                                <div class="form__icon-input-wrapper">
                                                                    <div class="phone-svg input-svg"></div>
                                                                    <div class="delimiter"></div>
                                                                    <div class="profile-core__text">+7 (965) 632-34-12</div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <label class="form__label">
                                                                <span>Ваш сайт</span>
                                                                <div class="form__icon-input-wrapper">
                                                                    <div class="exploier-svg input-svg"></div>
                                                                    <div class="delimiter"></div>
                                                                    <div class="profile-core__text">portfolio_my.ru</div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <label class="form__label">
                                                                <span>Email</span>
                                                                <div class="form__icon-input-wrapper">
                                                                    <div class="at-svg input-svg"></div>
                                                                    <div class="delimiter"></div>
                                                                    <div class="profile-core__text">event-outlet@gmail.com</div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <label class="form__label">
                                                                <span>Instagram</span>
                                                                <div class="form__icon-input-wrapper">
                                                                    <div class="inst-svg input-svg"></div>
                                                                    <div class="delimiter"></div>
                                                                    <div class="profile-core__text">@my_acaunt</div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <label class="form__label">
                                                                <span>Вконтакте</span>
                                                                <div class="form__icon-input-wrapper">
                                                                    <div class="vk-svg input-svg"></div>
                                                                    <div class="delimiter"></div>
                                                                    <div class="profile-core__text">vk.com/my_account</div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <label class="form__label">
                                                                <span>WhatsApp</span>
                                                                <div class="form__icon-input-wrapper">
                                                                    <div class="wa-svg input-svg"></div>
                                                                    <div class="delimiter"></div>
                                                                    <div class="profile-core__text">+7 (965) 632-34-12</div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                    </div>                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="profile-core__contacts">
                                        <div class="profile-core__contacts_title">
                                            <span>Стоимость</span>
                                        </div>
                                        <div class="profile-edit__body profile-core__list tmin_price">
                                            <!-- Line -->
                                            <div class="pe-block pr-block">
                                                <div class="special-offer">
                                                    <div class="special-offer__head">
                                                        <div class="special-offer__item">
                                                            <span>Услуга</span>
                                                            <span>Фотосессия </span>
                                                        </div>
                                                        <div class="special-offer__item profile-core__offer-item">
                                                            <span>Стоимость</span>
                                                            <span>3 000 р / час</span>
                                                        </div>
                                                    </div>
                                                    <div class="special-offer__desctipton">
                                                        <div class="special-offer__desctipton-title">
                                                            <span>Описание</span>
                                                        </div>
                                                        <div class="special-offer__desctipton-body">
                                                            <p>Минимальное время работы 3 часа. В черте города. Итог до 40
                                                                ретушированных фотографий.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="profile-edit__body profile-core__list tmin_price">
                                            <!-- Line -->
                                            <div class="pe-block pr-block">
                                                <div class="special-offer">
                                                    <div class="special-offer__head">
                                                        <div class="special-offer__item">
                                                            <span>Услуга</span>
                                                            <span>Фотосессия </span>
                                                        </div>
                                                    
                                                        <div class="special-offer__item profile-core__offer-item">
                                                            <span>Стоимость</span>
                                                            <span>3 000 р / час</span>
                                                        </div>
                                                    </div>
                                                    <div class="special-offer__desctipton">
                                                        <div class="special-offer__desctipton-title">
                                                            <span>Описание</span>
                                                        </div>
                                                        <div class="special-offer__desctipton-body">
                                                            <p>Минимальное время работы 3 часа. В черте города. Итог до 40
                                                                ретушированных фотографий.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-4 col-xl-4">
                                    <div class="profile-core__sidebar">
                                        <div class="sidebar__item sidebar__item-datepicker"><!-- html change-->
                                            <div class="sidebar__title">
                                                <span>Предложения по датам</span>
                                            </div>
                                            <div class="sidebar__core">
                                                <div class="sidebar__calendar">
                                                    <v-calendar
                                                        class="sidebar-calendar"
                                                        mode='range' 
                                                        title-position="left"
                                                        v-model='date'
                                                        is-inline
                                                        :popover="{ placement: 'bottom', visibility: 'click' }">
												    </v-calendar>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="sidebar__item-wrapper"><!-- html change-->

                                        
                                            <div class="sidebar__title">
                                                <span>Спецпредложения</span>
                                            </div>
                                            <div class="sidebar__item">
                                                <div class="sidebar__core">
                                                <div class="sidebar__head">
                                                    <div class="catalog-card__discount-icon">
                                                        <div class="percent-svg"></div>
                                                    </div>
                                                    <div class="sidebar__head_item">
                                                        <span>Дата</span>
                                                        <span class="sidebar-price">10-16.07.2019</span>
                                                    </div>

                                                    <!-- <div class="sidebar__slash"></div> -->
                                                    <div class="sidebar__head_item">
                                                        <span>Скидка</span>
                                                        <span class="sidebar-price">30%</span>
                                                    </div>


                                                </div>
                                                <div class="sidebar__head">
                                                    <div class="sidebar__head_item">
                                                        <span>Услуга</span>
                                                        <span class="service-name">Фотосессия</span>
                                                    </div>
                                                    <!-- <div class="sidebar__slash"></div> -->
                                                    <div class="sidebar__head_item">
                                                        <span>Цена со скидкой</span>
                                                        <span class="service-prcie">3 000 р / фикс</span>
                                                    </div>


                                                </div>
                                                <div class="sidebar__description">
                                                    <span>Описание</span>
                                                    <p>
                                                            Минимальное время работы 5 часа. Если свадьба загородом трансфер оплачивает заказчик.
                                                    </p>
                                                </div>
                                                </div>
                                            </div>

                                            <div class="sidebar__item">
                                                <div class="sidebar__core">
                                                <div class="sidebar__head">
                                                    <div class="sidebar__head_item">
                                                        <span>Услуга</span>
                                                        <span class="service-name">Фотосессия</span>
                                                    </div>
                                                    <!-- <div class="sidebar__slash"></div> -->
                                                    <div class="sidebar__head_item">
                                                        <span>Дата</span>
                                                        <span class="sidebar-price">10-16.07.2019</span>
                                                    </div>
                                                </div>
                                                <div class="sidebar__head">
                                                    <div class="sidebar__head_item">
                                                        <span>Цена со скидкой</span>
                                                        <span class="service-prcie">3 000 р / фикс</span>
                                                    </div>
                                                    <!-- <div class="sidebar__slash"></div> -->
                                                    <div class="sidebar__head_item">
                                                        <span>Скидка</span>
                                                        <span class="sidebar-price">30%</span>
                                                    </div>
                                                </div>
                                                <div class="sidebar__description">
                                                    <span>Описание</span>
                                                    <p>
                                                        Минимальное время работы 5 часа. Если свадьба загородом трансфер оплачивает заказчик.
                                                    </p>
                                                </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<%= _.template(require('./../includes/modals.html'))(data) %>
<%= _.template(require('./../includes/footer.html'))(data) %>